body {
    background-color: rgb(70, 70, 70);
}

.box {
    position: relative;
    background-color: rgb(145,145,145);
    border: 5px hidden black;
    border-radius: 15px;
    box-shadow: 10px 10px 12px black;
}

.box_top {
    width: 1500px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

.box_left {
    width: 150px;
    height: 550px;
    padding: 10px;
    margin-left: 250px;
    margin-top: 20px;
}

.box_middle {
    width: 150px;
    height: 550px;
    padding: 10px;
    margin-left: 550px;
    margin-top: 20px;
}

#picture {
    width: 500px;
}

#reload {
    position: absolute;
    bottom: 110px;
    left: 1480px;
}

#close {
    position: absolute;
    left: 1480px;
    top: 110px;
}

#loupe {
    position: absolute;
    left: 78%;
    top: 10px;
}

.pic_left {
    position: relative;
    left: 20px;
    margin: 5px;
}

