body {
    background-color: rgb(70, 70, 70);
}

.box {
    position: relative;
    background-color: rgb(145,145,145);
    border: 5px hidden black;
    border-radius: 15px;
    box-shadow: 10px 10px 12px black;
}

.box_top {
    width: 1500px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

.box_left {
    
    width: 130px;
    height: 450px;
    padding: 10px;
    margin-left: 250px;
    margin-top: 20px;
}

.box_middle {
    width: 1025px;
    height: 577px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 20px;
}

.box_right {
    width: 130px;
    height: 450px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 20px;
}

#picture {
    width: 500px;
}

#reload {
    position: absolute;
    bottom: 110px;
    left: 1480px;
}

#close {
    position: absolute;
    left: 1480px;
    top: 110px;
}

#loupe {
    position: absolute;
    left: 78%;
    top: 5px;
}

.pic_left {
    position: relative;
    left: 20px;
    margin: 5px;
}

.box_bot{
    position: relative;
    background-color: rgb(145,255,145);
    width: 580px;
    height: 175px;
    margin-left: 130px;
    bottom: 85px;
    padding: 10px;
}

#text {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

#txt {
    width: 425px;
}

#chair {
    position: relative;
    bottom: 320px;
    left: 625px;
    width: 150px;
    height: 200px;
}

#mac {
    position: relative;
    bottom: 530px;
    left: 1125px;
    width: 180px;
    height: 180px;
}